<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_float.css">
</head>
<body>
    <div class="container">
        <div class="head">
            <div class="head-logo">
            </div>
            <div class="banner">
            </div>
        </div>
        <div class="menu">
            <ul class="menu-left">
                <li>Home</li>
                <li>Students</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
            <input class="menu-right" type="text" placeholder="Search...">
        </div>
        <div class="main">
            <div class="left-bar col-2">
                <ul>
                    <li>Introduction</li>
                    <li>News</li>
                    <li>Education</li>
                </ul>
            </div>
            <div class="content col-8">
                <div class="content-head">
                    <div class="hot-new col-6"></div>
                    <div class="slide col-6"></div>
                </div>
                <div class="content-news">
                    <div class="content-news-row">
                        <div class="content-newitem1 col-4"></div>
                        <div class="content-newitem2 col-4"></div>
                        <div class="content-newitem3 col-4"></div>
                    </div>

                </div>
            </div>
            <div class="right-bar col-2">
                
            </div>
        </div>
    </div>
</body>
</html>