<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_flexbox.css">
</head>
<body>
    <div class="container">
        <div class="head">
            <div class="head-logo">
            </div>
            <div class="banner">
            </div>
        </div>
        <div class="menu">
            <ul class="menu-left">
                <li>Home</li>
                <li>Students</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
            <input class="menu-right" type="text" placeholder="Search...">
        </div>
    </div>
</body>
</html>